<mat-nav-list>
  <a mat-list-item routerLink="/">
    <div class="item"><mat-icon>home</mat-icon> <span>Inicio</span></div>
  </a>
  <a mat-list-item routerLink="alumnos/lista">
    <div class="item"><mat-icon>groups</mat-icon> <span>Alumnos</span></div>
  </a>
  <a mat-list-item routerLink="usuarios/lista">
    <div class="item"><mat-icon>group</mat-icon> <span>Usuarios</span></div>
  </a>
  <a mat-list-item routerLink="/">
    <div class="item"><mat-icon>description</mat-icon> <span>Créditos</span></div>
  </a>
</mat-nav-list>
