<app-spinner [isLoading]="isLoading"></app-spinner>
<h1>Usuarios</h1>

<div style="display: flex; justify-content: space-between; align-items: center">
  <button mat-flat-button class="button-style" (click)="openCrearUsuario()">Nuevo</button>

  <div>
    <mat-form-field style="width: 80%">
      <input matInput placeholder="Buscar usuario" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>

<table
  #table
  mat-table
  [dataSource]="usuarios"
  class="mat-elevation-z2 tabla-usuarios"
>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let usuario">
      {{
        usuario.nombre +
          " " +
          usuario.apellidoPaterno +
          " " +
          usuario.apellidoMaterno
      }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nombreRol">
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <td mat-cell *matCellDef="let usuario">
      {{ usuario.nombreRol }}
    </td>
  </ng-container>

  <ng-container matColumnDef="correo">
    <th mat-header-cell *matHeaderCellDef>Correo</th>
    <td mat-cell *matCellDef="let usuario">
      {{ usuario.correo }}
    </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef >Estado</th>
    <td mat-cell *matCellDef="let usuario">
      <mat-icon style="color: green" *ngIf="usuario.estado"
        >check_circle</mat-icon
      >
      <mat-icon style="color: red" *ngIf="!usuario.estado">cancel</mat-icon>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="columnasAMostrar; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: columnasAMostrar" (click)="openEditarUsuarioDialog(row.id)"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="8" style="color: red">
      No se encontraron resultados.
    </td>
  </tr>
</table>
<mat-paginator
  class="mat-elevation-z1"
  [pageSizeOptions]="[5, 10, 20, 50]"
  showFirstLastButtons
  [length]="cantidadTotalRegistros"
  [pageSize]="cantidadRegistrosAMostrar"
  (page)="actualizarPaginacion($event)"
>
</mat-paginator>
